name: vagalivre
description: "A new Flutter project."
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6
  supabase_auth_ui: ^0.4.3
  supabase_flutter: ^2.3.4
  geolocator: ^11.0.0
  flutter_config: ^2.0.2
  google_maps_flutter: ^2.6.0
  google_sign_in: ^6.2.1
  intl: ^0.19.0
  brasil_fields: ^1.14.3
  provider: ^6.1.2
  go_router: ^13.2.4
  http: ^1.2.1
  objectbox: ^4.0.0
  objectbox_flutter_libs: any
  bloc: ^8.1.4
  flutter_dotenv: ^5.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0
  build_runner: ^2.4.9
  objectbox_generator: any

flutter:
  uses-material-design: true
  assets:
    - .env
    - assets/images/darker.png
    - assets/images/darker_expanded.png
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
